.mt5 { margin-top:5px!important;}.mt10 { margin-top:10px!important;} .mt15 { margin-top:15px!important;}.mt20 { margin-top:20px!important;}.pad0 { padding:0!important;}.mrg0 { margin:0!important;}
.mb5 { margin-bottom:5px!important;}.mb10 { margin-bottom:10px!important;}.mb15 { margin-bottom:15px!important;}.mb20 { margin-bottom:20px!important;}
.mr5 {margin-right: 5px!important;} .mr10 {margin-right: 10px!important;}.mrg15 {margin-right: 15px!important;}
.ml5 {margin-left: 5px!important;} .ml10 {margin-left: 10px!important;}.ml15 {margin-left: 15px!important;}
.w100 {float:left!important; width:100%!important;}
.Src_to_from {float: right;}
.Src_to_from .input-group-addon { padding:6px; background: none; border: none;}
.Src_to_from .input-group {float:left; margin: 0 -1px 0 0;}
.Src_to_from .input-group button { position:absolute;right:0; z-index: 9;}
.stats2 .dashboard-stat2 {padding:15px 15px 5px;}
.table .btn {padding:2px 6px;}
.pbuttonz button { margin-bottom:15px; min-width: 80%;}
.UzerAccord { border-bottom: 1px solid #ddd;}
.UzerAccord .accordion-toggle p { position: relative; color: #000; font-size: 14px; padding: 2px 0 3px 50px; margin: 0;display: inline-block; width:30%;font-weight: 400;}
.UzerAccord .accordion-toggle p strong {font-size: 14px;margin: 0 0 3px;width: 100%;float: left; }
.UzerAccord .accordion-toggle p img {position:absolute; left: 0px; top:0px; width:35px; height: 35px; border-radius: 100px!important; -webkit-border-radius: 100px!important; -moz-border-radius: 100px!important;}
.UzerAccord .accordion-toggle {position:relative;display: inline-block;}
.UzerAccord .accordion-toggle:nth-child(even) {background:#f3f4f6!important;}
.UzerAccord .accordion-toggle:hover { background:#f3f4f6!important;}
.UzerAccord .accordion-toggle i {font-size: 22px;color: #67809F;position: absolute;right: 20px;top: 20px;}
.UzerAccord .panel-default>.panel-heading { background: none; }
.UzerAccord .accordion-toggle span { position: relative; color: #000; font-size: 14px; padding: 2px 0 3px 0px; margin: 0;display: inline-block; width:25%; font-weight: 400;}
.UzerAccord .accordion-toggle span strong {font-size: 14px;margin: 0 0 3px;width: 100%;float: left;}
.UzerAccord .accordion-toggle { background: #f3f4f6; cursor: pointer;}
.UzerAccord .accordion-toggle.collapsed { background: none;}
.UzerAccord .panel.panel { margin:0!important; border-bottom: none;}
.UzerAccord button { vertical-align:super; display: inline-block;}
.w50 { width:50%;}
.w75 { width:75%;}
.w100 {width:100%;}
.profile-Box {width:100%;float:left; position:relative;}
.profile-Box .profile-usertitle-name { margin:0;}
.profile-Box .profile-usertitle-job { margin:0 0 15px;}
.pdate { position: absolute; left: 15px; top:15px;}
.pIDno {position: absolute; right: 15px; top:15px;}
.profdet {border-top: 1px solid #d9f0ff;padding: 20px 0 5px 0;margin: 15px 0 0 0;background: #fff;}

.profile-Box p {float:left;width:100%; margin:0 0 20px 0; font-size: 14px;}
.profile-Box p span { font-size:14px;float: left;width: 50%; text-align: left;}
.pinner {float:left;width:100%; margin:35px 0 20px;}


.pdiv {display: block;margin: 0; padding: 10px 0 0; background-color: #f4f8ff;position: relative;border: 1px solid #d9f0ff;float: left;width: 100%;}
.pdiv .portlet.light {background: none;margin: 0 auto;padding: 15px 20px 0;float: left;width: 100%;text-align: center;}
.pdiv .profile-userpic { width:200px; margin: 0 auto;}
.pdiv .profile-userpic img { width:90%; height: 90%;}
.pdiv .editProfile { position:absolute; right:15px; top:15px;}
.pdiv .pbutnz { width: 100%;float:left; margin:0 0 10px;}
.profdet .profile-stat { border: none;}
.profdet .col-md-3 { border-right:1px solid #d9f0ff;}
.profdet .col-md-3:last-child {border:none;}

.pbx {float: left;width: 100%;cursor: pointer; overflow: hidden; position: relative;}
.pbx:hover .pbimg { -webkit-transform: scale(1.2);transform: scale(1.2);}
.pbimg {float: left;width: 100%;height: 200px;background-position: center center;background-repeat: no-repeat;position: relative;background-size: cover;transition: transform 0.3s ease-in-out; -webkit-transition: transform 0.3s ease-in-out; -moz-transition: transform 0.3s ease-in-out; margin: 0!important;background-color: #f2f2f2;border: 1px solid #cacaca;}
.filez { position: absolute;right: 0;bottom: 0;padding: 3px;background: rgba(255,255,255,0.4);width: 28px!important;border-radius: 5px 0 0 0!important;}
.pbx i {position: absolute;right: 0;top: 0;font-size: 15px;color: #F2F2F2;padding: 6px;background: rgba(0,0,0,0.4);border-radius: 0 0 0 5px!important;}
.profdet .profile-stat-text { font-size:14px;}


.pbdet {float:left;width:100%;padding: 5px 8px;}
.pbdet h5 {float:left;width:100%; color:#5b9bd1; font-size: 14px; font-weight: 800;}
.pbdet p { font-size: 12px; margin: 5px 0;}
.pbdet p img {margin:0 5px 0 0; width:15px;}

.userRo {float:left;width:100%; margin:0 0 10px;}
.userRo p { color:#27868d;}
.pic {float:left;width:35px; height: 35px; margin:0 15px 0 0;border-radius: 50px!important;-webkit-border-radius: 50px;-moz-border-radius: 50px;}
.pic img {float: left;width:100%;border-radius: 50px!important;-webkit-border-radius: 50px;-moz-border-radius: 50px;height: 100%;}

.tab_left {width:66.66666666%; float:left;padding: 0 10px 0 0;}
.tab_right {float:left;width:33.3333333%; padding: 15px; vertical-align: middle; text-align: center;border:5px dashed #dde0ef; min-height: 650px; position: relative;}
.tab_right .drag {width: 170px;display: inline-block;font-size: 18px;color: #b4b8ce;position: absolute;top: 50%;margin-top: -30px;
left: 50%;margin-left: -85px;}

.Posts_Div {overflow: hidden; margin:0 0 20px;}
.Posts_Div h6 {font-size: 16px; margin: 0 0 20px;}
.Posts_Div .owl-item {margin:0 15px 0 0;}

.blankHeading { font-size: 16px; margin:30px 0 0;}

.Overlaybox {width: 100%;height: 100%;background: rgba(0,0,0,0.8);transform 0.3s ease-in-out: ;-webkit-transition: transform 0.3s ease-in-out;-moz-transition: transform 0.3s ease-in-out;position: absolute;left: 0; color:#fff; font-size: 12px;
top: 0;background-color: rgba(0, 0, 0, 0.8);-webkit-transition: opacity 0.8s cubic-bezier(0.19, 1, 0.22, 1);transition: opacity 0.8s cubic-bezier(0.19, 1, 0.22, 1);opacity: 0;}
.Overlaybox p {height: 100%;float: none;vertical-align: middle;margin: 0;text-align: center;line-height: 180px;padding: 5px;}

.pbx:hover .Overlaybox { opacity: 1;}

.edp .nav-tabs>li.active>a, .edp .nav-tabs>li.active>a:focus, .edp .nav-tabs>li.active>a:hover {color: #ffffff;background-color: #FF5722!important;border: 1px solid #ddd;border-bottom-color: transparent;cursor: default;}
.edp .tab-content {width:100%; padding: 15px;}

.ppic { width:80px; height: 80px; margin:2px 0 2px ;}
.ppic img { width:100%; height: 100%; border-radius: 100%!important; -webkit-border-radius: 100%!important; -moz-border-radius: 100%!important;}
.Verify td .mt-checkbox-outline { margin: 35px 0 0 8px;}


.ppic2 { width:50px; height: 50px; margin:2px 0 2px ;}
.ppic2 img { width:100%; height: 100%; border-radius: 100%!important; -webkit-border-radius: 100%!important; -moz-border-radius: 100%!important;}

#sample_1 td a {color: #fff;}

.search-content-3 .tile-container {float:left;  width:100%;}
.search-content-3 .tile-container h4 {float:left;width:100%; font-weight: 600; font-size: 12px;}
.search-content-3 .tile-container>.tile-title {padding: 10px 15px 20px!important;background: #f9f9f9!important;border: 1px solid #e6e6e6;}
.search-content-3 .tile-container>.tile-title>.tile-desc>p {font-size: 12px;}
.defimage { border-radius: 100px!important; -webkit-border-radius: 100px!important; -moz-border-radius: 100px!important; position:absolute; width:187px;left: 4px; top:4px;}
.thumbz {width:196px; height: 196px;border-radius: 100px!important; -webkit-border-radius: 100px!important; -moz-border-radius: 100px!important; }
.pozrel { position:relative!important;}
.thumbnail img { border-radius: 100px!important;}

.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {border-top: 0;background: #dde5ef;color: #272727; padding: 15px!important;}
table.dataTable tbody th, table.dataTable tbody td {padding:10px 15px 10px!important;}

table .btn.btn-outline.green { background: #00CDE2; color: #fff;}
table .btn.btn-outline.yellow {background: #c49f47; color:#fff;}
table .btn.btn-outline.red {background: #e7505a; color:#fff;}
table .btn.btn-outline.blue {	background: #3598dc;color:#fff;}

.portfolio-content .cbp-l-filters-button .cbp-filter-counter, .portfolio-content .cbp-l-filters-button .cbp-filter-item.cbp-filter-item-active {background-color: #00cde2!important;border-color: #00cde2!important;color: #fff;}
.btn.btn-outline.dark.active, .btn.btn-outline.dark:active, .btn.btn-outline.dark:active:focus, .btn.btn-outline.dark:active:hover, .btn.btn-outline.dark:focus, .btn.btn-outline.dark:hover {border-color: #00cde2!important;color: #FFF;background-color: #00cde2!important;}
.cbp-l-filters-button .cbp-filter-counter:after {border-top: 4px solid #00cde2!important;}

.a_ll_posts {}
.a_ll_posts .cbp .cbp-item { border:1px solid #e6e6e6; padding:0 0 10px; }
.a_ll_posts .cbp-l-grid-projects-title {float:left;width:100%; padding:0 0 0 58px;}
.a_ll_posts .cbp-caption-activeWrap {background-color: #f2f2f2!important; border: 1px solid #e6e6e6;}
.post_detail {float: left;width:100%; position: relative; padding: 0 10px 5px 10px;}
.post_detail .fbox {width: 14px!important;float: left;margin: 0 10px 0 0;}
.post_detail p { margin:3px 0 0 0!important;float:left;font-weight: normal; width:100%;}
.post_detail span { margin:0px 0 0 0!important;float:left; width:100%;}
.uzerImg {width: 40px!important;height: 40px!important;margin: 8px 0px 0 3px; border-radius: 100px!important; float: left; position: absolute; left: 10px; top:10px;}

.landC {float: left;width: 100%;padding: 8px 45px 8px 10px;position: absolute;bottom: 0;left: 0;background:rgba(255,255,255, .6);color: #000;}
.landC i {float:left;margin:3px 10px 0 0;}
.landC span { margin:0!important; font-weight: bold;}

.postype {position: absolute;right: 0;background: #FF5722;padding: 11px;text-align: center;bottom: 0;color: #fff;}
.postype i { margin:0;}
.pstdetail .cbp-caption-active .cbp-caption-defaultWrap {top:0!important;}

.pstdetail .cbp .cbp-item { position:relative!important;width:100%!important;}
.pstdetail .cbp-l-caption-buttonRight { display: none!important; position: absolute;left: -4px;width: 100%;height: 100%;z-index: 99999;top: -3px;display: table-cell;vertical-align: middle;font-size: 18px;background: rgba(0,0,0,.6)!important;}
.pstdetail .cbp-l-caption-buttonRight i { font-size: 20px; position:absolute; left: 50%; top:50%; margin:-15px 0 0 -15px; color:#fff!important;}
.cbp-wrapper:hover .cbp-l-caption-buttonRight { display: block!important;}

.pstdetail .profile-Box p span {color: #5b9bd1; font-weight: 800;}
.pstdetail .profile-Box p {padding: 12px;background: whitesmoke;border: 1px solid #e6e6e6;}

.a_ll_posts .cbp-l-caption-alignCenter .cbp-l-caption-buttonRight { display: inline-block!important; font-size: 14px;}

.UzerRound { margin:15px 0 0 0;float:left;width:100%;}
.UzerRound img {float:left;margin:0 20px 0 0; border-radius: 100px!important; -webkit-border-radius: 100px!important; -moz-border-radius: 100px!important; width:60px!important; height: 60px!important;}
.UzerRound p {font-size: 16px;font-weight: 800;padding-top: 10px;}
.UzerRound span { font-size: 12px; color:#000; font-weight: 400;}


.continent_posts .vmaps { height: 500px;}

.UserBoxList {margin: 0 0 10px;border: 1px solid #e6e6e6;position: relative;padding: 15px 15px 15px 90px;min-height: 90px;background: #f9f9f9; cursor: pointer; width:100%;}
.UserBoxList:hover {background: #eef1f5;}
.UserBoxList img {width:60px!important; height: 60px!important;border-radius: 100px!important; -webkit-border-radius: 100px!important; -moz-border-radius: 100px!important; position: absolute; left: 15px; top: 13px;}
.UserBoxList p { font-weight: 700; font-size: 14px; color: #00cde2;float:left;margin:7px 0 5px!important; width:100%;}
.UserBoxList span { font-size: 13px; color: #888; text-decoration: none;}
.uList {padding:0!important;}
.uList a { text-decoration: none!important;}
.UserBoxList i.arro {font-size: 28px;color: #00cde2;position: absolute;right: 24px;top: 36px; display: none!important;}
.UserBoxList i.userIco {font-size: 15px;color: #00cde2;float: left;margin: 3px 5px 0 0;}
.UserBoxList:hover i.arro { display:block!important;}
.UserBoxList.active i.arro { display: block!important;}
.UserBoxList.active {background: #eef1f5;}

.bxposts { margin:0 0 15px; border:1px solid #e6e6e6;}
.bxposts h4 {float: left;width: 100%;font-size: 15px;font-weight: 700;margin: 5px 0 20px;padding: 15px;color: #fff;background: #00cde2;}
.bxposts h4 span {float:right;font-size: 14px; font-weight: 400;}
.bxposts .uList {background: #f9f9f9!important;}
.bxposts .UserBoxList { border: none; background: #f9f9f9!important;}
.bxposts .uList span {padding: 10px 10px 5px;font-size: 13px;color: #888;float: left;margin: 0 0 10px;}
.bxposts .uList span i {float:left;margin:3px 8px 0 0; font-size: 20px; color:#00cde2;}

.bxposts .md-radio label>span.inc { display: none!important;}

.bxposts .uList span i { position:relative; float:left; display: block!important; top:0; left:0; font-size: 16px;}

.bxposts .boxesList {padding:0 15px 0;}

.bxposts .md-radio-list .md-radio {float: left;margin: 0 10px 15px 0;width: 46%;}

.bxposts2 .cbp .cbp-item {padding: 0!important;border: 0;float: left;width: 47%!important;position: relative;left: inherit!important;top: inherit!important;margin: 0 2% 2% 0;}
.bxposts2 .cbp .cbp-item:nth-child(2n) { margin:0 0 2% 0;}
.bxposts2 .cbp-caption-active .cbp-caption-defaultWrap {top:0!important;}
.bxposts2 { padding: 0px 0 15px 15px;}
.bxposts2 .portfolio-content { padding:0!important;}
.bMove {position: absolute;right: 10px;top: 10px;font-size: 14px;background: rgba(0,0,0, 0.5);color: #fff!important;float: left;padding: 5px 10px;}
.bMove:hover { background:#00cde2; color:#fff;}
.Blank_Drop { display:table; text-align: center; width:100%; height: 100%; border:1px solid #e6e6e6}
.Blank_Drop p { display:table-cell; vertical-align: middle; width:100%; height: 100%; text-align: center;}
.Blank_Drop p img {width:100%;max-width:120px; opacity: .7;}

.sstmrg { margin:2px 10px 0 0!important}
.delete_Uzr img { width:60px; height: 60px; border-radius: 100px!important; -webkit-border-radius: 100px!important; -moz-border-radius: 100px!important;}
.delete_Uzr button { margin:0 5px 5px 0;}
.Range { padding:20px 15px;}

.modal-overflow.modal.fade.in {top: 5%!important; margin-bottom:80px;}
.modal-body .ppic {width:50px; height: 50px;}
.modal-body td { vertical-align:middle!important;}


/*********** Owl Carousel v2.3.4 ********/
.owl-carousel,.owl-carousel .owl-item{-webkit-tap-highlight-color:transparent;position:relative}.owl-carousel{display:none;width:100%;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y;touch-action:manipulation;-moz-backface-visibility:hidden}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0)}.owl-carousel .owl-item,.owl-carousel .owl-wrapper{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}.owl-carousel .owl-item{min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-touch-callout:none}.owl-carousel .owl-item img{display:block;width:100%}.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}.no-js .owl-carousel,.owl-carousel.owl-loaded{display:block}.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel .owl-nav button.owl-next,.owl-carousel .owl-nav button.owl-prev,.owl-carousel button.owl-dot{background:0 0;color:inherit;border:none;padding:0!important;font:inherit}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel.owl-refresh .owl-item{visibility:hidden}.owl-carousel.owl-drag .owl-item{-ms-touch-action:pan-y;touch-action:pan-y;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-grab{cursor:move;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.owl-carousel .animated{animation-duration:1s;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{animation-name:fadeOut}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{transition:height .5s ease-in-out}.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity .4s ease}.owl-carousel .owl-item .owl-lazy:not([src]),.owl-carousel .owl-item .owl-lazy[src^=""]{max-height:0}.owl-carousel .owl-item img.owl-lazy{transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;transition:transform .1s ease}.owl-carousel .owl-video-play-icon:hover{-ms-transform:scale(1.3,1.3);transform:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity .4s ease}.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}



.catagoryBox {float: left;width: 100%;margin: 0 0 0px;overflow: hidden;}
.catName {width: 100%;display: inline-block;border-radius: 100px!important;-webkit-border-radius: 100px!important;-moz-border-radius: 100px!important;margin: 5px 0 15px;text-align: center;}
.catName img {width: 70px!important;height: 70px;border-radius: 100px!important;-webkit-border-radius: 100px!important;-moz-border-radius: 100px!important;border: 2px solid #dde0ef;margin: 0 auto 10px; display: block;}

.Trendingz .nav-tabs { padding: 0 15px;}
.Trendingz .nav-tabs>li.active>a { background: #FF5722!important; color:#fff!important; padding: 10px 50px;}
.Trendingz h3 {display: block;width: 100%;padding: 10px 15px 10px;font-weight: 600;font-size: 14px;background: #eef1f5; margin:0 0 10px;}




.postsBoxez { display:table; width:100%; position: relative;}
.postsB_left { display:table-cell; vertical-align: top; width:60%;}														
.postsB_right {display:table-cell;width:40%; padding: 10px; border:5px dashed #dde0ef; vertical-align: middle; position:relative;}
.postsB_right .drag {width: 170px;display: inline-block;font-size: 18px;color: #b4b8ce;position: absolute;top: 50%;margin-top: -30px;left: 50%;margin-left: -85px;}

.Trendingz .cbp-wrapper, .cbp-wrapper-helper { position:relative!important;}
.Trendingz .cbp { height:auto!important;}

.Trendingz .cbp-wrapper, .cbp-wrapper-helper { position:relative!important;}
.Trendingz .cbp { height:auto!important;}

.a_ll_posts .cbp-wrapper, .cbp-wrapper-helper { position:relative!important;}


.page-content { background:url(layouts/layout2/img/bg.jpg)!important; background-repeat: repeat!important; background-size: cover!important;}
.page-container-bg-solid .page-title, .page-container-bg-solid .page-title small { color:#26344b!important; font-weight: 600!important;}
.bMove {display:none;}

.page-container-bg-solid .page-sidebar .page-sidebar-menu>li.active>a>.selected, .page-container-bg-solid .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a>.selected {border-color: transparent #f6d0c7 transparent transparent!important;}


.Posts_Div .owl-carousel .owl-item, .owl-carousel .owl-wrapper { background: #fff!important;}

.page-bar .page-toolbar .btn-fit-height { border-radius:0 5px 5px 0!important; -webkit-border-radius: 0 5px 5px 0!important;-moz-border-radius: 0 5px 5px 0!important; -o-border-radius: 0 5px 5px 0!important;}
.search-content-3 .tile-container, .bxposts, .pbx, .boxesz .cbp-caption-defaultWrap  {overflow: hidden;}

.dashboard-stat2, .portlet.light, .page-bar, .dashboard-stat, .search-content-3 .tile-container, .UserBoxList, .bxposts, .Blank_Drop, .item-pic, .pbx, .table, .table-scrollable, table .btn, .boxesz .cbp-item, .a_ll_posts .cbp .cbp-item, .box_detail .grid-item  
{ border-radius: 5px!important; -webkit-border-radius: 5px!important;-moz-border-radius: 5px!important; -o-border-radius: 5px!important;}

.dn {display:none!important;}

.filterz {}
.filterz .dropdown-menu.pull-right {padding:10px 0;}
.filterz .dropdown-menu.pull-right i {margin: 0 4px 0 0; vertical-align: middle;}
.filterz .filico { margin: 0 4px 0 0;}
.filterz i { margin: 0 0 0 3px; font-size: 16px; vertical-align: middle;}

.boxesHold { display: inline-block; width:100%;  position:relative; max-width: 25%;}
.boxImagez {float:left;width:100%; margin:1%; padding:0; list-style-type: none;}


.Reports img {border-radius: 100px!important;-webkit-border-radius: 100px!important; -moz-border-radius: 100px!important; margin-right:5px; width:50px; height: 50px;}




.box_galary {float:left;width:100%; height: 285px;overflow: hidden;}
.grid {width: 100%; max-width: 100%;float:left; position: relative;display: inline-block;}
figure {margin: 0;}
img {height: auto;max-width: 100%;vertical-align: middle;}

.masonry__item {margin: 2px;width: 35px!important;float:left;}
.masonry__item img {width:100%!important;}

.boxes_List {width:28%; display: inline-block; background: red; border: 1px solid #ccc; text-align: center;}

.boxesz .cbp-caption-defaultWrap {top:0!important;}
.boxesz .fbox {float:left;width:14px!important; margin:0 5px 0 0;}
.boxesz .cbp-item {padding:0!important; margin:0!important;}
.boxesz .bstatus i { color:#00cde2;}
.boxesz .landC {border-top:1px solid #e6e6e6; background: #fff!important;padding:10px;}
.boxesz .landC span { font-weight:normal; font-size: 12px;}
.boxesz .postype {bottom:-1px;}
.boxesz .postype i { margin:2px 0 0 5px; float:right;}
.boxesz .statu {margin: 3px 0 0 12px;float: right;color: #00cde2;font-size: 18px;}
.boxesz .statu.inactive {color: #ccc;}

.uuser {float: left;width: 100%;border-bottom: 1px solid #e6e6e6;padding: 10px;background: #f6faff;border-radius: 5px 5px 0 0!important;}
.uuser img {float:left;width:30px!important; height: 30px!important; border-radius: 100px!important;}
.uuser span {float:left;margin:6px 0 0 10px; font-weight: 500;}





.grid:after {content: '';display: block;clear: both;}
.grid-sizer, .grid-item {width: 25%;}
.grid-item {height: 50px;float: left;background-color: #F4F3F4;border: 1px solid #fff;background-size: cover;background-position: center center;transition: all 0.35s ease-in-out;}
.grid-item--width2 {height: 100px;}
.grid-item--width3 {height: 150px;}
.box_detail {display: inline-block; width: 100%;}

.box_detail .grid-item {height: 200px; border: 3px solid #fff!important; border-radius: 10px!important; overflow: hidden!important;}
.box_detail .grid-item--width2 { height: 400px;}
.box_detail .grid-item--width3 { height: 500px;}
.box_row1 .UzerRound a { text-decoration: none;}
.box_row1 { display: inline-block; width:100%; }
.box_row1 .form-group { margin:0 0 10px; display: inline-block; width:100%;}
.box_row1 h4 {float: left;width: 100%;border-bottom: 1px solid #e6e6e6;margin:20px 0 30px;padding-bottom: 10px;}


.grid-item:nth-child(1) {background-image: url("https://unsplash.it/900/900?image=18");}
.grid-item:nth-child(2) {background-image: url("https://unsplash.it/900/900?image=111");}
.grid-item:nth-child(3) {background-image: url("https://unsplash.it/900/900?image=13");}
.grid-item:nth-child(4) {background-image: url("https://unsplash.it/900/900?image=14");}
.grid-item:nth-child(5) {background-image: url("https://unsplash.it/900/900?image=15");}
.grid-item:nth-child(6) {background-image: url("https://unsplash.it/900/900?image=16");}
.grid-item:nth-child(7) {background-image: url("https://unsplash.it/900/900?image=17");}
.grid-item:nth-child(8) {background-image: url("https://unsplash.it/900/900?image=18");}
.grid-item:nth-child(9) {background-image: url("https://unsplash.it/900/900?image=19");}
.grid-item:nth-child(10) {background-image: url("https://unsplash.it/900/900?image=110");}
.grid-item:nth-child(11) {background-image: url("https://unsplash.it/900/900?image=111");}
.grid-item:nth-child(12) {background-image: url("https://unsplash.it/900/900?image=112");}
.grid-item:nth-child(13) {background-image: url("https://unsplash.it/900/900?image=113");}
.grid-item:nth-child(14) {background-image: url("https://unsplash.it/900/900?image=110");}
.grid-item:nth-child(15) {background-image: url("https://unsplash.it/900/900?image=115");}
.grid-item:nth-child(16) {background-image: url("https://unsplash.it/900/900?image=116");}
.grid-item:nth-child(17) {background-image: url("https://unsplash.it/900/900?image=117");}
.grid-item:nth-child(18) {background-image: url("https://unsplash.it/900/900?image=118");}
.grid-item:nth-child(19) {background-image: url("https://unsplash.it/900/900?image=119");}
.grid-item:nth-child(20) {background-image: url("https://unsplash.it/900/900?image=120");}
.grid-item:nth-child(21) {background-image: url("https://unsplash.it/900/900?image=121");}
.grid-item:nth-child(22) {background-image: url("https://unsplash.it/900/900?image=122");}
.grid-item:nth-child(23) {background-image: url("https://unsplash.it/900/900?image=123");}
.grid-item:nth-child(24) {background-image: url("https://unsplash.it/900/900?image=124");}
.grid-item:nth-child(25) {background-image: url("https://unsplash.it/900/900?image=125");}
.grid-item:nth-child(26) {background-image: url("https://unsplash.it/900/900?image=126");}
.grid-item:nth-child(27) {background-image: url("https://unsplash.it/900/900?image=127");}
.grid-item:nth-child(28) {background-image: url("https://unsplash.it/900/900?image=128");}
.grid-item:nth-child(29) {background-image: url("https://unsplash.it/900/900?image=129");}
.grid-item:nth-child(30) {background-image: url("https://unsplash.it/900/900?image=130");}


.grid-itemN:nth-child(1) {background-image: url("https://unsplash.it/900/900?image=131");}
.grid-itemN:nth-child(2) {background-image: url("https://unsplash.it/900/900?image=132");}
.grid-itemN:nth-child(3) {background-image: url("https://unsplash.it/900/900?image=133");}
.grid-itemN:nth-child(4) {background-image: url("https://unsplash.it/900/900?image=134");}
.grid-itemN:nth-child(5) {background-image: url("https://unsplash.it/900/900?image=135");}
.grid-itemN:nth-child(6) {background-image: url("https://unsplash.it/900/900?image=136");}
.grid-itemN:nth-child(7) {background-image: url("https://unsplash.it/900/900?image=137");}
.grid-itemN:nth-child(8) {background-image: url("https://unsplash.it/900/900?image=142");}
.grid-itemN:nth-child(9) {background-image: url("https://unsplash.it/900/900?image=139");}
.grid-itemN:nth-child(10) {background-image: url("https://unsplash.it/400/400?image=140");}
.grid-itemN:nth-child(11) {background-image: url("https://unsplash.it/900/900?image=141");}
.grid-itemN:nth-child(12) {background-image: url("https://unsplash.it/900/900?image=142");}
.grid-itemN:nth-child(13) {background-image: url("https://unsplash.it/900/900?image=143");}
.grid-itemN:nth-child(14) {background-image: url("https://unsplash.it/900/900?image=144");}
.grid-itemN:nth-child(15) {background-image: url("https://unsplash.it/900/900?image=145");}
.grid-itemN:nth-child(16) {background-image: url("https://unsplash.it/900/900?image=146");}
.grid-itemN:nth-child(17) {background-image: url("https://unsplash.it/900/900?image=147");}
.grid-itemN:nth-child(18) {background-image: url("https://unsplash.it/900/900?image=175");}
.grid-itemN:nth-child(19) {background-image: url("https://unsplash.it/900/900?image=149");}
.grid-itemN:nth-child(20) {background-image: url("https://unsplash.it/400/400?image=180");}
.grid-itemN:nth-child(21) {background-image: url("https://unsplash.it/900/900?image=151");}
.grid-itemN:nth-child(22) {background-image: url("https://unsplash.it/900/900?image=152");}
.grid-itemN:nth-child(23) {background-image: url("https://unsplash.it/900/900?image=153");}
.grid-itemN:nth-child(24) {background-image: url("https://unsplash.it/900/900?image=154");}
.grid-itemN:nth-child(25) {background-image: url("https://unsplash.it/900/900?image=155");}
.grid-itemN:nth-child(26) {background-image: url("https://unsplash.it/900/900?image=156");}
.grid-itemN:nth-child(27) {background-image: url("https://unsplash.it/900/900?image=157");}
.grid-itemN:nth-child(28) {background-image: url("https://unsplash.it/900/900?image=158");}
.grid-itemN:nth-child(29) {background-image: url("https://unsplash.it/900/900?image=159");}
.grid-itemN:nth-child(30) {background-image: url("https://unsplash.it/400/400?image=160");}
.grid-itemN:nth-child(31) {background-image: url("https://unsplash.it/900/900?image=161");}
.grid-itemN:nth-child(32) {background-image: url("https://unsplash.it/900/900?image=162");}
.grid-itemN:nth-child(33) {background-image: url("https://unsplash.it/900/900?image=163");}
.grid-itemN:nth-child(34) {background-image: url("https://unsplash.it/900/900?image=164");}
.grid-itemN:nth-child(35) {background-image: url("https://unsplash.it/900/900?image=165");}
.grid-itemN:nth-child(36) {background-image: url("https://unsplash.it/900/900?image=166");}
.grid-itemN:nth-child(37) {background-image: url("https://unsplash.it/900/900?image=167");}
.grid-itemN:nth-child(38) {background-image: url("https://unsplash.it/900/900?image=168");}
.grid-itemN:nth-child(39) {background-image: url("https://unsplash.it/900/900?image=169");}
.grid-itemN:nth-child(40) {background-image: url("https://unsplash.it/400/400?image=170");}









@media screen and (max-width:1275px){
.bxposts2 {padding:0 15px 0;}
.bxposts2 .cbp .cbp-item {width:100%!important; margin:0 0 10px!important;}
}

@media screen and (max-width:1000px){
	.grid-sizer, .grid-item {width:33%!important;}	
.box_detail .grid-item {height: 200px;}
.box_detail .grid-item--width2 { height: 300px;}
.box_detail .grid-item--width3 { height: 400px;}
}
@media screen and (max-width:768px){
	.grid-sizer, .grid-item {width:100%!important;}	

}






